.c-Button {
 padding: 1em;
 margin-right: 1em;
 width: 100%;
 background-color: #dadada;
 cursor: pointer;
 outline: none;
 margin-bottom: .5em;
 border: 1px solid #333;

 @media(min-width: 700px) {
  width: 31%;
  margin-bottom: 0;
 }

 &:hover {
   opacity: .8;
 }

 &--selected {
   background-color: #afffbe;
 }

 &--search {
   background-color: #afd2ff;
   margin: auto;
   display: block;
   @media(min-width: 700px) {
    width: 300px;
   }
 }

 &--disabled {
   background-color: #999;

   &:hover {
     opacity: 1;
     cursor: not-allowed;
   }
 }
}