.c-Photo__thumbnail {
  padding: .3em;
  border: 1px solid #dadada;
  margin-bottom: .5em;

  @media(min-width: 700px) {
    max-width: 200px;
  }

  h3, img {
    width: 100%;
  }

  &--selected {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: none;
    height: 100vh;
    background: rgba(0,0,0,.8);
    color: white;
    border: 0;
    padding: 2em;
    box-sizing: border-box;
    overflow-y: auto;

    .c-Photo__img {
      width: auto;
      display: block;
      margin: 3em auto;
      max-width: 80vw;
    }
  }
}

.c-Photo__header {
  font-size: 1em;
  display: inline;
}

.c-Photo__margin {
  margin: .5em 0;
}

.c-Photo__img {
  border: 2px solid #dadada;
  box-sizing: border-box;
}