body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  background-color: #333;
  box-sizing: border-box;
  background-image: radial-gradient(circle, black, gray, black);
  background-size: cover;
}

.c-App__wrap {
  max-width: 1280px;
  margin: 4em auto;
  font-size: 12px; // Set base px value

  @media (min-width: 800px) {
    font-size: 16px;
  }
}